<div class="list-group">
  <div *ngFor="let item of siderBarService.Items" class="list-group-item " 
    [class.active]="item.isActive"
    [class.disabled]="item.disabled">
    {{item.name}}
    <div *ngIf="item.childs.length" class="list-group">
      <div *ngFor="let sub of item.childs" class="list-group-item " 
        [class.active]="sub.isActive" 
        [class.disabled]="sub.disabled">
        {{sub.name}}
        <div *ngIf="sub.childs.length" class="list-group">
            <div *ngFor="let subsub of sub.childs" class="list-group-item " 
              [class.active]="subsub.isActive" 
              [class.disabled]="subsub.disabled">
              {{subsub.name}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>