.leftspide {
    width: 10px;
    padding: 1px;
    padding-top: 10%;
    height: 100%;
    background-color: rgb(244, 248, 255);
    cursor: pointer;
}

.leftspide:hover {
    background-color: lightgray;
}

.loadingspin {
    background-image: url('/assets/images/CircleBlue.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 6rem;
    background-color: transparent;
    height: 100%;
    width: 100%;
    z-index: 99999;
    padding-top: 15rem;
    font-weight: bold;
}