<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="togglenavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="navbarShow">
    <ul class="navbar-nav mr-auto noselect">
      <li *ngFor="let every of headerItems" class="nav-item" [class.active]="every.isActive" [class.dropdown]="every.childs.length"
        (click)="clickmenu1(every)">
        <a class="nav-link" [class.disabled]="every.disabled" [class.dropdown-toggle]="every.childs.length" appIfDataToggle value="dropdown"
          [isNeed]="every.childs.length">
          <span *ngIf="every.iconName" [class]="every.iconName"></span>
          {{every.name}}
        </a>
        <div *ngIf="every.childs.length" class="dropdown-menu">
          <a *ngFor="let sub of every.childs" class="dropdown-item" [class.disabled]="sub.disabled" (click)="clickmenu2(sub)">
            <span *ngIf="sub.iconName" [class]="sub.iconName"></span>
            {{sub.name}}
          </a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <app-search-box></app-search-box>
    </form>
  </div>
</nav>