.navbar-collapse .navbar-nav>li>a:hover {
   background-color: white;
   color: black;
   border-radius: 0.5rem;
}

.navbar-collapse .navbar-nav>li>div>a:hover {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
 }