<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" (click)="clicknavi('home')" href="#">Logo</a>
  <button class="navbar-toggler" type="button" (click)="togglenavbar()" aria-controls="navbarsExampleDefault" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="navbarShow">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of topmenus" (click)="clicktopmenu(item)" [class.active]="item.isActive" [class.dropdown]="item.hasChild && !(item.path)">
        <a class="nav-link" [class.dropdown-toggle]="item.hasChild && !(item.path)" appIfDataToggle value="dropdown" [isNeed]="item.hasChild && !(item.path)">{{item.name}}</a>
        <div *ngIf="item.hasChild && !(item.path)" class="dropdown-menu">
          <a *ngFor="let every of item.childs" class="dropdown-item" (click)="clicksecondmenu(every)">{{every.name}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="搜索" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()" type="button">
        搜索
      </button>
    </form>
  </div>
</nav>